{% extends "main_base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    {% if posts %}

      {% for post in posts %}
      <div class="col-md-8">
        <div class="user-credentials">
          <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />
          <p><strong>{{post.user.username}}</strong></p>
        </div>

        <div class="post-image">
          <img src="{{post.image.url}}" alt="Post Image" />
        </div>

        <div class="actions-n-time">
          <div class="actions">
            <div class="likes">
              <i class="far fa-heart"></i>
              <p class="like-count"><strong>10</strong></p>
            </div>

            <div class="comments">
              <i class="far fa-comments"></i>
              <p class="comment-count"><strong>10</strong></p>
            </div>
          </div>

          <div class="time">
            <p>Posted <strong>{{post.date | timesince}} </strong> ago</p>
          </div>
        </div>

        <div class="caption">
          <p>{{post.caption}}</p>
        </div>

        <div class="comments-btn" data-toggle="modal" data-target="#exampleModal">
          <h6 id="viewComments">View Comments</h6>
        </div>

        <!-- The Comments Modal -->
        <div class="main-modal">
          <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <span class="close" data-dismiss="modal">&times;</span>

            <div id="container">
              <div id="row">
                <div class="col-md-6">
                  <img class="modal-content" src="{% static 'images/post_sample.jpg' %}" alt="Post Image">
                </div>

                <div class="col-md-6 right">
                  <div class="modal-user-credentials">
                    <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />
                    <p><strong>username</strong></p>
                  </div>

                  <div class="modal-caption">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                      massa.</p>
                  </div>

                  <hr>

                  <div class="all-comments">
                    <div class="comments-section">
                      <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />

                      <div class="comments-info">
                        <div class="username-n-date">
                          <p><strong>username</strong></p>
                          <p class="date"><strong>08/04/2022</strong></p>
                        </div>

                        <p class="comment">Lorem ipsum dolor sit amet, consectetuer adip elit. </p>
                      </div>

                    </div>

                    <div class="comments-section">
                      <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />

                      <div class="comments-info">
                        <div class="username-n-date">
                          <p><strong>username</strong></p>
                          <p class="date"><strong>08/04/2022</strong></p>
                        </div>

                        <p class="comment">Lorem ipsum dolor sit amet, consectetuer adip elit. </p>
                      </div>

                    </div>

                    <div class="comments-section">
                      <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />

                      <div class="comments-info">
                        <div class="username-n-date">
                          <p><strong>username</strong></p>
                          <p class="date"><strong>08/04/2022</strong></p>
                        </div>

                        <p class="comment">Lorem ipsum dolor sit amet, consectetuer adip elit. </p>
                      </div>

                    </div>

                    <div class="comments-section">
                      <img src="{% static 'images/person.jpeg' %}" alt="Profile Image" />

                      <div class="comments-info">
                        <div class="username-n-date">
                          <p><strong>username</strong></p>
                          <p class="date"><strong>08/04/2022</strong></p>
                        </div>

                        <p class="comment">Lorem ipsum dolor sit amet, consectetuer adip elit. </p>
                      </div>

                    </div>

                  </div>

                  <form>
                    <input class="form-control mr-sm-2" type="text" placeholder="Add a comment">
                    <button class="add-comment-btn" type="submit">POST</button>
                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>

        <hr>

        <form>
          <input class="form-control mr-sm-2" type="text" placeholder="Add a comment">
          <button class="add-comment-btn" type="submit">POST</button>
        </form>

      </div>
      {% endfor %}

    {% else %}
      <h4>There Are No Posts Yet</h4>
    {% endif %}
  </div>
</div>

{% endblock %}