{% extends "main_base.html" %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}

{% if message %}
<div class="alert alert-dark alert-dismissible text-center fade show m-0" role="alert">
  {{message}}
  <span class="close" data-dismiss="modal">&times;</span>
</div>
{% endif %}

{% endfor %}
{% endif %}

<div class="container">
  <div class="row">
    {% if posts %}

    {% for post in posts %}
    <div class="col-md-8">
      <div class="user-credentials">
        <a href = "/profile/{{post.user.profile.id}}"><img src="{{post.user.profile.profile_pic.url}}" alt="Profile Image" /></a>
        <p><strong>{{post.user.username}}</strong></p>
      </div>

      <div class="post-image">
        <img src="{{post.image.url}}" alt="Post Image" data-toggle="modal" data-target="#{{post.id}}"/>
      </div>

      <div class="actions-n-time">
        <div class="actions">
          <div class="likes">
            <i class="far fa-heart"></i>
            <p class="like-count"><strong>10</strong></p>
          </div>

          <div class="comments">
            <i class="far fa-comments"></i>
            <!-- The second 'post' is the related_name for the Comments foreign key -->
            <p class="comment-count"><strong>{{post.post.count}}</strong></p>
          </div>
        </div>

        <div class="time">
          <p>Posted <strong>{{post.date | timesince}} </strong> ago</p>
        </div>
      </div>

      <div class="caption">
        <p>{{post.caption}}</p>
      </div>

      <div class="comments-btn" data-toggle="modal" data-target="#{{post.id}}">
        <h6 id="viewComments">View Comments</h6>
      </div>

      <!-- The Comments Modal -->
      <div class="main-modal">
        <div class="modal" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <span class="close" data-dismiss="modal">&times;</span>

          <div id="container">
            <div id="row">
              <div class="col-md-6">
                <img class="modal-content" src="{{post.image.url}}" alt="Post Image">
              </div>

              <div class="col-md-6 right">
                <div class="modal-user-credentials">
                  <img src="{{post.user.profile.profile_pic.url}}" alt="Profile Image" />
                  <p><strong>{{post.user.username}}</strong></p>
                </div>

                <div class="modal-caption">
                  <p>{{post.caption}}</p>
                </div>

                <hr>

                <div class="all-comments">

                  {% for com in comments %}

                  {% if post.id == com.post.id %}
                  <div class="comments-section">
                    <img src="{{com.user.profile.profile_pic.url}}" alt="Profile Image" />

                    <div class="comments-info">
                      <div class="username-n-date">
                        <p><strong>{{com.user.username}}</strong></p>
                        <p class="date"><strong>{{com.date | date}}</strong></p>
                      </div>

                      <p class="comment">{{com.comment}}</p>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}

                </div>

                {% if user.is_authenticated and user.id != post.user.id %}
                  <!-- Modal Comment Form -->
                  <form action="{% url 'commentPage' post_id=post.id%}" method="POST">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="text" placeholder="Add a comment" name="comment">
                    <button class="add-comment-btn" type="submit">POST</button>
                  </form>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
      </div>

      <hr>

      {% if user.is_authenticated and user.id != post.user.id %}
      <!-- Post Comment Form -->
      <form action="{% url 'commentPage' post_id=post.id%}" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" placeholder="Add a comment" name="comment">
        <button class="add-comment-btn" type="submit">POST</button>
      </form>
      {% endif %}

    </div>
    {% endfor %}

    {% else %}
    <h4>There Are No Posts Yet</h4>
    {% endif %}
  </div>
</div>

{% endblock %}